<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yanxiu.gphone.faceshow">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 个推 -->
    <!-- iBeancon功能所需权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 个推3.0电子围栏功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- 百度SDK LBS -->
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 连接互联网Internet权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用程序联网，以便向我们的服务器端发送数据。 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 判断程序是否在前台运行,必须 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 检测手机基本状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".FaceShowApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".homepage.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="faceshow" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homepage.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow"
            android:windowSoftInputMode="stateAlwaysHidden|adjustUnspecified" />
        <activity
            android:name=".course.activity.CourseActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".homepage.activity.checkIn.CheckInSuccessActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow" />
        <activity
            android:name=".homepage.activity.checkIn.CheckInErrorActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow" />
        <activity
            android:name=".homepage.activity.checkIn.CheckInDetailActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow" />
        <activity
            android:name=".common.activity.PhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notification.activity.NotificationDetailActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow" />
        <activity android:name=".homepage.activity.checkIn.CheckInNotesActivity" />
        <activity
            android:name=".user.ProfileActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow" />
        <activity
            android:name=".classcircle.activity.SendClassCircleActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".common.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".course.activity.EvaluationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".course.activity.SpecialistIntroductionActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow" />
        <activity
            android:name=".course.activity.CourseIntroductionActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow" />
        <activity
            android:name=".course.activity.CourseDiscussActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow" />
        <activity
            android:name=".course.activity.VoteActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow" />
        <activity
            android:name=".common.activity.PDFViewActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow" />
        <activity
            android:name=".user.ModifyUserNameActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow" />
        <activity
            android:name=".login.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow" />
        <activity
            android:name=".user.ModifyUserSexActivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.yanxiu.gphone.faceshow" />
        <!-- 设置二维码扫描界面方向为竖屏 -->
        <activity
            android:name=".homepage.activity.checkIn.CheckInByQRActivity"
            android:screenOrientation="portrait" />
        <!-- 自定义个推服务 -->
        <service
            android:name=".getui.FaceShowGeTuiService"
            android:exported="true"
            android:label="PushService"
            android:process=".pushservice" />
        <service android:name=".getui.FaceShowGeTuiIntentService" />
        <!-- 自定义notification点击事件的接收者 -->
        <receiver android:name=".getui.ToMainActivityBroadcastReceiver" />
        <receiver android:name=".getui.ToCourseActivityBroadcastReceiver" />
        <receiver android:name=".getui.ToEvaluationActivityBroadcastReceiver" />
        <receiver android:name=".getui.ToNotificationDetailActivityBroadcastReceiver" />
        <receiver android:name=".getui.ToResourceDetailActivityBroadcastReceiver" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yanxiu.gphone.faceshow.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!-- 使用定位SDK，需在Application标签中声明service组件，每个App拥有自己单独的定位service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="AKtPVxL4dScxxX5ss34QGUz8kAHyMECF" />
        <meta-data
            android:name="MW_APPID"
            android:value="E5EH5ZUNBINIVA5NJ0NG9DIA5F8XRSRC" />

        <activity
            android:name=".course.activity.ClassManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ModifyUserStageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ModifyUserSubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.FeedBackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".classcircle.activity.PublishedMomentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".classcircle.activity.ClassCircleMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".homepage.activity.ChooseClassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ninegrid.preview.ImagePreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webView.FaceShowWebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".classcircle.activity.ClassCircleDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>